{%extends "base.html"%}

{%block content%}

<nav class="navbar navbar-dark bg-inverse" style="background-color:#333; borfer-color:#333; border-radius:0px;">
    <a class="navbar-brand" href="#">Opinion</a>
  <span class="navbar-text float-xs-right text-muted">
    Admin Login Page
  </span>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4" style="padding-top:100px;">
            <div class="card" style="background-color:#F4F4F4">
                <div class="card-block" style="padding-top:40px; padding-bottom:40px;">
                    <form method="POST" action="/loginform">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" required="True">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="True">
                        </fieldset>
                        <button class="btn btn-primary btn-block">Log in</button>
                    </form>
                    <br>
                    <a href="/forgotpassword" style="float:right;">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
