{%extends "base.html"%}

{%block content%}

{%include "search_nav.html"%}
<div class="container" style="padding-top:20px;">
    <p style="color:black;">Search results for '{{ result['searchkey'] }}' </p>
    <div>
        <div class="col-md-8">
            <div class="card card-block">
                <p class="card-text">

                </p>
            </div>
        </div>
         <div class="col-md-4">
             <div class="card card-outline-primary card-block" style="borfer-color:#333;">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             </div>
         </div>
     </div>
 </div>
{%endblock%}
